@charset "ISO-8859-1";

*{
	margin : 0;
	padding : 0;
}

html body {
	background-color:#FF3385;
}

.header{
	height : 100vh;
}

.navbar-style{
	box-shadow: 0 5px 10px #efefef;
	text-transform: uppercase;
	background-color: #628EC6;
}
.logo{
	height: 60px;
	padding: 2px 10px;
} 

.icon-bar{
	background: darkOrange; 
}

li a{
	color: #333;
	}
	
a.btn{
	
	margin: 30px 10px;
	width: 150px;
	padding: 10px;
	border-radius: 20px;
	
}

a.btn-first{
	
	background-color: darkOrange;
	color: #fff;
	
}

a.btn-second{
	background-color: transparent;
	border: 1px solid darkOrange;
	color: #333;
}


a.btn:hover{
	background: darkOrange;
	border:none;
	color:#fff;
	box-shadow: 5px 5px 10px #999;
	transition: 0.3s;
}

.banner-info, .banner-image{
	margin: 30px 0px;
}

.displayStyle{
	border-color: #DB8627;
}

.page-footer{
	background-color: #A51D95;
	text-align: center;
	color: #141515;
	padding: 10px;
}

#more {display: none;}